@use 'reset';
@use 'vars';



  // or you can import your own font
  @font-face {
    font-family: 'Mona Sans';
    src: url('../assets/fonts/Mona Sans/Mona-Sans.woff2');
  }

  body {
    font-family: 'Mona Sans', sans-serif;
  }

